/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-image: url(bookweb/bg2.png);
  }
  
  /* Apply styles to the container */
  .container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Apply styles to the form */
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Apply styles to the heading */
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Apply styles to the labels */
  label {
    margin-bottom: 5px;
  }
  
  /* Apply styles to the input fields */
  input[type="text"],
  input[type="password"] {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  /* Apply styles to the submit button */
  input[type="submit"] {
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color:#95999d;
    color: white;
    cursor: pointer;
  }
  
  /* Apply styles to the submit button on hover */
  input[type="submit"]:hover {
    background-color: #484c4f;
  }
  